/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {


	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {


        .pixfort_university_6 .img_uni_st{position: relative; width:100%; height: auto;         }
        .pixfort_university_6 .uni_st{ height: 40px; }

       .pixfort_university_6 .rights_st {float: none;text-align: center;   }
         .pixfort_university_6 .likes_st { margin: 0; padding-right: 0px;  padding-top: 25px; float: none; text-align: center; }
          .pixfort_university_6 .socbuttons {text-align: center;  }
          .pixfort_university_6 .soc_icons {float: none;text-align: center; }



	}


	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {



         .pixfort_university_6 .img_uni_st{position: relative; width:100%; height: auto;         }
         .pixfort_university_6 .part_st {text-align: center;    }

        .pixfort_university_6 .rights_st {float: none;text-align: center;   }
        .pixfort_university_6 .likes_st { margin: 0; padding-right: 0px;  padding-top: 25px; float: none; text-align: center; }
        .pixfort_university_6 .socbuttons {text-align: center;  }


       }

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {



        .pixfort_university_6 .logos_width img {max-width: 100%;  text-align: center;      }

        .pixfort_university_6 .img_uni_st{position: relative; width:100%; height: auto;         }
        .pixfort_university_6 .part_st {text-align: center;    }


        .pixfort_university_6 .text_st {width: 69%;  text-align: center;        }
        .pixfort_university_6 .title_st,  .pixfort_university_6 .subject_st {width:100%;        }

        .pixfort_university_6 .substyle{text-align: center;         }
        .text-style {max-width: 100%; margin-left:20px; margin-right: 20px;       }

        .pixfort_university_6 .rights_st {float: none;text-align: center;   }
        .pixfort_university_6 .likes_st { margin: 0; padding-right: 0px;  padding-top: 25px; float: none; text-align: center; }
        .pixfort_university_6 .socbuttons {text-align: center;  }


	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {

        .pixfort_university_6 .htext_style{margin-right: 0px; } 

        .pixfort_university_6 .discover, .pixfort_university_6 .discover_line, .pixfort_university_6 .cosmopolitan, .pixfort_university_6 .cosmopolitan_line {font-size: 30px; }

        .pixfort_university_6 .college_btn a{margin-right: 0px; margin-bottom:20px; }

        .pixfort_university_6 .logos_width img {max-width: 100%;  text-align: center;      }

        .pixfort_university_6 .img_uni_st{position: relative; width:100%; height: auto;         }

        .pixfort_university_6 .link_1_btn a {float: none;margin-left: auto;margin-right: auto;}
        .pixfort_university_6 .link_2_btn a {float: none;margin-left: auto;margin-right: auto;}
        .pixfort_university_6 .link_3_btn a {float: none;margin-left: auto;margin-right: auto;}
        .pixfort_university_6 .link_4_btn a {float: none;margin-left: auto;margin-right: auto;}



        .pixfort_university_6 .text_st {width: 69%;  text-align: center;        }
        .pixfort_university_6 .title_st,  .pixfort_university_6 .subject_st {width:100%;        }

        .pixfort_university_6 .substyle{text-align: center;         }
        .text-style {max-width: 100%; margin-left:20px; margin-right: 20px;       }

        .pixfort_university_6 .rights_st {float: none;text-align: center;   }
        .pixfort_university_6 .likes_st { margin: 0; padding-right: 0px;  padding-top: 25px; float: none; text-align: center;}
        .pixfort_university_6 .socbuttons {text-align: center;  float: none;}
        .pixfort_university_6 .soc_icons {float: none;text-align: center; }

        .pixfort_university_6 .head_line { font-size: 25px;}
        }


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/